---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="container py-12">
    <h1 class="text-4xl mb-8">About</h1>
    <div class="prose">
      <p>Coming Soon.</p>
    </div>
  </div>
</BaseLayout>
